/* ====== BASE STYLES & RESET ====== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-beaver: #9e7f66;
  --primary-gray: #111111;
  --secondary-mirage: #17192b;
  --secondary-clay: #242b37;
  --secondary-gray: #5c6779;
  --font-spartan: "League Spartan", sans-serif;
}

html,
body {
  font-family: var(--font-spartan);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* ====== UTILITY CLASSES ====== */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading-xl {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 300;
}

.heading-lg {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.heading-md {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.heading-sm {
  font-size: 17px;
  line-height: 1.75rem;
  font-weight: 400;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  display: block;
  min-width: 150px;
  height: 64px;
  padding: 0 10px;
  font-family: inherit;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.btn-dark {
  border: 1px solid #fff;
  color: #fff;
}

.btn-dark:hover:enabled {
  background: #fff;
  color: var(--secondary-mirage);
}

.btn-dark:disabled {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: not-allowed;
}

.btn-light {
  border: 1px solid var(--primary-gray);
  color: var(--primary-gray);
}

.btn-light:hover:enabled {
  background: var(--primary-gray);
  color: #fff;
}

.btn-light:disabled {
  border: 1px solid rgba(17, 17, 17, 0.3);
  color: rgba(17, 17, 17, 0.3);
  cursor: not-allowed;
}

.btn-secondary {
  background: var(--primary-gray);
  color: #fff;
}

.btn-secondary:hover:enabled {
  background: transparent;
  color: var(--primary-gray);
  border: 1px solid var(--primary-gray);
}

.btn-secondary:disabled {
  background: transparent;
  border: 1px solid rgba(17, 17, 17, 0.3);
  color: rgba(17, 17, 17, 0.3);
  cursor: not-allowed;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form .form-group input {
  border: none;
  background: transparent;
  padding: 10px 15px;
  border-bottom: 1px solid var(--primary-gray);
  outline: none;
  font-size: 15px;
  line-height: 28px;
}

.form .form-group input::placeholder {
  font-family: inherit;
  font-size: 15px;
  line-height: 28px;
  color: rgba(17, 17, 17, 0.6);
}

.form .form-group.error input {
  border-bottom-color: #b54949;
}

.form .form-group.error input::placeholder {
  color: rgb(181, 73, 73, 0.5);
}

.form .form-group .form-error {
  color: #b54949;
  font-size: 15px;
  font-weight: 500;
  display: none;
}

/* ====== HERO ====== */
.hero {
  background-image: url("../images/homepage/hero-bg-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.hero img {
  width: 100px;
  height: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-content h1 {
  color: #fff;
  max-width: 507px;
}

.hero-content p {
  color: #fff;
  max-width: 445px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.hero-content .btn {
  width: 245px;
}

/* ====== INFO & DETAILS ====== */
.info,
.details {
  position: relative;
  padding: 30px 0;
}

.info-flex,
.details-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-images .info-pattern {
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 1;
  width: 55%;
}

.info-images .info-img-tablet,
.info-images .info-img-mobile,
.details-images .details-img-tablet,
.details-images .details-img-mobile {
  display: none;
}

.info-content,
.details-content {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-content h2,
.details-content h2 {
  color: var(--secondary-clay);
}

.info-content p,
.details-content p {
  color: var(--secondary-clay);
  font-size: 20px;
  line-height: 30px;
}

.info-content .info-divide,
.details-content .details-divide {
  width: 70px;
  height: 7px;
}

.details-pattern {
  position: absolute;
  right: 0;
  width: 55%;
  bottom: 0;
  z-index: 1;
}

/* ====== SPECIAL ====== */
.special {
  padding: 60px 0;
}

.special-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.special-images .special-img-tablet,
.special-images .special-img-mobile {
  display: none;
}

.special-content {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.special-content h2 {
  color: var(--secondary-clay);
}

.special-content p {
  color: var(--secondary-clay);
  font-size: 20px;
  line-height: 30px;
}

/* ====== MENU ====== */
.menu {
  background: var(--primary-gray);
  padding: 80px 0;
}

.menu-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 445px;
}

.menu-divide img {
  width: 71px;
  height: 7px;
}

.menu-content h2 {
  color: #fff;
}

.menu-content p {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 0;
}

.menu-item-images .menu-item-image-mobile {
  display: none;
}

.menu-item-content {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item-content h4 {
  color: #fff;
}

.menu-item-content p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

/* ====== CTA ====== */
.cta {
  background-image: url("../images/homepage/ready-bg-desktop.jpg");
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta h2 {
  color: #fff;
}

.cta .btn {
  width: 250px;
}

/* ====== FOOTER ====== */
.footer {
  background-color: var(--primary-gray);
  padding: 60px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-logo img {
  width: 100px;
  height: 40px;
}

.footer ul li {
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
}

/* ====== RESERVATION ====== */
.reservation {
  background: url("../images/booking/hero-bg-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}

.reservation-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.reservation-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reservation-logo img {
  width: 100px;
  height: 40px;
}

.reservation-content {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reservation-content h1 {
  color: #fff;
}

.reservation-content p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.reservation-form {
  background-color: #fff;
  width: 540px;
  padding: 40px 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -90px;
  right: 50px;
  z-index: 20;
}

.reservation-form .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reservation-form .btn {
  margin-top: 40px;
}

/* ====== BANNER ====== */
.banner {
  height: 400px;
  position: relative;
}

.banner-patterns .banner-pattern-curve {
  width: 70%;
  height: 320px;
}

.banner-patterns .banner-pattern-lines {
  width: 160px;
  height: 76px;
  position: absolute;
  top: 250px;
  right: 450px;
}

/* ====== MEDIA QUERIES ====== */
@media screen and (max-width: 1200px) {
  /* Hero */
  .hero {
    padding: 0 30px;
  }
}

@media screen and (max-width: 992px) {
  /* Info & Details */
  .info,
  .details {
    padding: 40px 30px;
  }
  .info-flex,
  .details-flex {
    flex-direction: column;
  }

  .info-images .info-img-desktop,
  .details-images .details-img-desktop {
    display: none;
  }

  .info-images .info-img-tablet,
  .details-images .details-img-tablet {
    display: block;
  }

  .info-images .info-pattern,
  .details-images .details-pattern {
    top: 300px;
    width: 60%;
  }

  .info-divide,
  .details-divide {
    margin: 0 auto;
  }

  .info-content,
  .details-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .details-content {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* Special */
  .special-images .special-img-desktop {
    display: none;
  }

  /* Special */
  .special-flex {
    flex-direction: column;
    gap: 50px;
  }

  .special-images .special-img-tablet {
    display: block;
  }

  .special-content {
    text-align: center;
  }

  /* Menu */
  .menu .menu-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }

  .menu-content {
    width: 100%;
  }

  .menu-list {
    flex-direction: column;
    text-align: start;
  }

  /* CTA */
  .cta {
    background-image: url("../images/homepage/ready-bg-tablet.jpg");
    flex-direction: column;
    justify-content: space-evenly;
    height: 272px;
  }

  /* Reservation */
  .reservation-flex {
    flex-direction: column;
  }

  .reservation-info {
    align-items: center;
    text-align: center;
    margin: 30px 0;
    gap: 30px;
  }

  .reservation-form {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  /* Hero */
  .hero {
    background-image: url("../images/homepage/hero-bg-tablet.jpg");
    padding-bottom: 30px;
  }

  .hero-content {
    margin-top: 30px;
    align-items: center;
  }

  .hero-flex {
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 64px;
    width: 100%;
  }

  .hero p {
    width: 100%;
  }

  /* Info & Details */
  .details-images .details-pattern {
    top: 500px;
  }

  /* Reservation */
  .reservation {
    padding: 40px 0;
    background: url("../images/booking/hero-bg-tablet.jpg");
  }

  .reservation-flex {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 80px;
  }
  .reservation-content h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 300;
  }

  .reservation-content p {
    font-size: 20px;
    line-height: 30px;
  }

  /* Banner */
  .banner-patterns {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  /* Hero */
  .hero {
    background-image: url("../images/homepage/hero-bg-mobile.jpg");
  }

  .hero h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .hero p {
    font-size: 16px;
    line-height: 26px;
  }

  /* Info & Details */
  .info-content h2,
  .details-content h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .info-content p,
  .details-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .info-images .info-img-tablet,
  .details-images .details-img-tablet {
    display: none;
  }

  .info-images .info-img-mobile,
  .details-images .details-img-mobile {
    display: block;
  }

  .info-images .info-pattern,
  .details-images .details-pattern {
    top: 400px;
    height: 200px;
  }

  /* Special */
  .special-images .special-img-tablet {
    display: none;
  }

  .special-images .special-img-mobile {
    display: block;
  }

  .special-content {
    padding: 0 30px;
  }

  .special-content h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .special-content p {
    font-size: 16px;
    line-height: 26px;
  }

  /* Menu */
  .menu-content h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .menu-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .menu-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .menu-item-images .menu-item-image-desktop {
    display: none;
  }

  .menu-item-images .menu-item-image-mobile {
    display: block;
  }

  /* CTA */
  .cta {
    background-image: url("../images/homepage/ready-bg-mobile.jpg");
    text-align: center;
  }

  .cta h2 {
    font-size: 32px;
    line-height: 40px;
  }

  /* Footer */
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  /* Reservation */
  .reservation {
    background: url("../images/booking/hero-bg-mobile.jpg");
    background-size: cover;
    background-position: center;
  }

  .reservation-content h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .reservation-content p {
    font-size: 16px;
    line-height: 26px;
  }

  .reservation-form {
    width: 350px;
    padding: 20px 30px;
  }
}
